*.pyc
*.so
*.egg-info
*.~undo-tree~
.ipynb_checkpoints
/bazel-*
.bazelrc
.pytype/*
**/.pytype/*
/tensorflow
.DS_Store
build/
dist/
.mypy_cache/
examples/output/*

.vscode
.idea
/examples-with-unit/Supplementary
examples-with-unit/si_gnn.pickle
